/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12.10.2016, 18:52:44
    Author     : death
*/
.table_div{
    width: 100%;
    height: 60%;
    overflow-y: auto;
    display: block;

}
table form{
    display:table-cell;
}